.designed{  
    width: 400px;
    padding: 5px 5px 20px 5px;
    line-height: 4px;
   font-family: "Lato", serif;
   border: 1px solid gray;
   display: inline-block;   
}

.designed img{
  width: 400px;
  
   
}

#wored{
    font-size: 25px;
    

}
span{
text-indent: 25px;
    
}
button {
   padding: 7px 7px ;
    margin-left: 25px;
    background-color: rgb(180, 187, 114);
    border-radius: 10px;
    
}

    
.designed1{  
  width: 400px;
  padding: 5px 5px 20px 5px;
  line-height: 4px;
 font-family: "Lato", serif;
 border: 1px solid gray;
 margin-top: 10px;
 display: inline-block;   

}

.designed1 img{
width: 400px;

 
}

#wored1{
  font-size: 25px;
  

}
#para1{
text-indent: 25px;
  
}
#button1 {
 padding: 7px 7px ;
  margin-left: 25px;
  background-color: rgb(180, 187, 114);
  border-radius: 10px;
  
}

  
.designed3{  
  width: 400px;
  padding: 5px 5px 20px 5px;
  line-height: 4px;
 font-family: "Lato", serif;
 border: 1px solid gray;
 margin: 10px;
 display: inline-block;   

}

.designed3 img{
            width: 400px;

 
}

#wored3{
  font-size: 25px;
  

}
#para1{
text-indent: 25px;
  
}
#button1 {
 padding: 7px 7px ;
  margin-left: 25px;
  background-color: rgb(180, 187, 114);
  border-radius: 10px;
  
}

  
#group1{
display: inline-block;
  margin: auto;
  width: fit-content;
}